{{> viewLoggedNav}}
<section id="viewCatalog" class="background-img">
    <a href="#/createFlight" class="add-flight">Add Flight +</a>

    <div class="added-flights">
        {{#each flights}}
            {{> homeFlight}}
        {{/each}}
    </div>
</section>
{{> footer}}