<nav>
    <div class="left-container">
        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/listFlights">Flights</a></li>
        </ul>
    </div>
    <div class="right-container">
        <span>Welcome, {{name}} |</span>
        <a href="#/logout" class="log-out">Logout</a>
    </div>
</nav>